[Desktop Entry]
Type=Application
Exec=/usr/bin/google-chrome-stable
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Google Web Browser
Comment=Google Web Browser
